{% extends 'base.html' %}


{% block title %}
    Sign Up - Board
{% endblock %}


{% block breadcrumb %}
<!--
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Boards</a>
    </li>
    <li class="breadcrumb-item active">
        Sign Up
    </li>
-->
{% endblock %}


{% block content %}
<h2>Sign Up</h2>
<!--
<form method="post">
    {% csrf_token %}

    {% include 'includes/form.html' %}

    <button class="btn btn-primary" type="submit">Create an account</button>
</form>
-->
{% endblock %}